*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default spacing */

* {
  margin: 0;
  padding: 0;
}

/* Smooth scrolling */

html {
  scroll-behavior: smooth;
}

/* Body */

body {
  min-height: 100vh;
}

/* Media */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Forms */

input,
button,
textarea,
select {
  font: inherit;
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
}

/* Lists */

ul,
ol {
  list-style: none;
}